<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BookStore</display-name>
  <welcome-file-list>

  <welcome-file>index.jsp</welcome-file>

  </welcome-file-list>
  
 <servlet>
 <servlet-name>VerifyUser</servlet-name>
 <servlet-class>com.wp.Books.VerifyUser</servlet-class>
 <init-param>
 <param-name>adminid</param-name>
 <param-value>admin</param-value>
 </init-param>
 <init-param>
 <param-name>adminpwd</param-name>
 <param-value>indore</param-value>
 </init-param>
 </servlet>
 
 <servlet-mapping>
 <servlet-name>VerifyUser</servlet-name>
 <url-pattern>/VerifyUser</url-pattern>
 </servlet-mapping>
 
 
 <context-param>
 <param-name>driver</param-name>
 <param-value>com.mysql.jdbc.Driver</param-value>
 </context-param>
 
 <context-param>
 <param-name>url</param-name>
 <param-value>jdbc:mysql://localhost:3306/booksdata</param-value>
 </context-param>
 
 <context-param>
 <param-name>dbusername</param-name>
 <param-value>root</param-value>
 </context-param>
 
 <context-param>
 <param-name>dbpassword</param-name>
 <param-value>root</param-value>
 </context-param>
 
 
</web-app>